<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener 
 class-name="testBase.ExtentReportManager"/>
</listeners>
  <test thread-count="1" name="CitizenAccountHCTest">
    <classes>
       <class name="testBase.CreateCitizenAccount"/>
       <class name="testBase.ForgotUsernameOHID"/>
       <class name="testBase.ForgotPassword"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

